In [1]:
import numpy as np
import pandas as pd
import requests
import os

## Download Data

In [2]:
url = 'https://swapi.dev/api/people/'
people = requests.get(url).json()

people_set = []
for i in range(1, people['count'] + 1):
    content = requests.get(os.path.join(url, str(i)))
    if content.status_code != 404:
        people_set.append(content.json())

In [3]:
len(people_set)

81

In [4]:
people_set[0]

{'name': 'Luke Skywalker',
 'height': '172',
 'mass': '77',
 'hair_color': 'blond',
 'skin_color': 'fair',
 'eye_color': 'blue',
 'birth_year': '19BBY',
 'gender': 'male',
 'homeworld': 'http://swapi.dev/api/planets/1/',
 'films': ['http://swapi.dev/api/films/1/',
  'http://swapi.dev/api/films/2/',
  'http://swapi.dev/api/films/3/',
  'http://swapi.dev/api/films/6/'],
 'species': [],
 'vehicles': ['http://swapi.dev/api/vehicles/14/',
  'http://swapi.dev/api/vehicles/30/'],
 'starships': ['http://swapi.dev/api/starships/12/',
  'http://swapi.dev/api/starships/22/'],
 'created': '2014-12-09T13:50:51.644000Z',
 'edited': '2014-12-20T21:17:56.891000Z',
 'url': 'http://swapi.dev/api/people/1/'}

## Problem Solution

There are two problems for this part:
- The name of the oldest person (or robot or alien)
- The titles of all the films the oldest creature appeared in

In [5]:
# extract birth_year information
birth_year_series = pd.Series([i['birth_year'] for i in people_set])

# calculate the oldest age
age_oldest = np.max(birth_year_series[birth_year_series.str.endswith('BBY')].str.replace('[a-zA-Z]+', '').astype(float))

# find location of oldest age in the list
index = int(np.where(birth_year_series == str(int(age_oldest)) + 'BBY')[0])

# corresponding name
print('Name of the oldest creature:', people_set[index]['name'])

Name of the oldest creature: Yoda

In [6]:
# titles of all the films they appeared in
film_url = people_set[index]['films']
titles = []
release_dates = []
for i in range(len(film_url)):
    film = requests.get(film_url[i]).json()
    titles.append(film['title'])
    release_dates.append(film['release_date'])
    
df_title = pd.DataFrame(dict(title = titles, release_date = release_dates))
df_title

                     title release_date
0  The Empire Strikes Back   1980-05-17
1       Return of the Jedi   1983-05-25
2       The Phantom Menace   1999-05-19
3     Attack of the Clones   2002-05-16
4      Revenge of the Sith   2005-05-19